<script type="text/html" id="lessons-page">
    <div class="page">
        <div class="lessons-list" data-bind="visible: !active()">
            <div class="btn-group add-lesson">
                <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                    Add <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right">
                    <li><a href="#" data-bind="click: addNew.bind($data, 'exam')">Exam</a></li>
                    <li><a href="#" data-bind="click: addNew.bind($data, 'lecture')">Lecture</a></li>
                </ul>
            </div>

            <div class="card-wide" data-bind="visible: addingNewLesson,
                                              with: newLessonForm">
                <div class="section-container">
                    <div class="section fixed-width">
                        <div class="section-title">Title</div>
                        <div class="section-value">
                            <input type="text" data-bind="textInput: lesson().title">
                        </div>
                    </div>
                    <div class="section fixed-width">
                        <div class="section-title">Start</div>
                        <div class="section-value">
                            <input type="date" data-bind="textInput: lesson().plannedStartTime">
                        </div>
                    </div>
                </div>
                <div class="section-container">
                    <div class="section">
                        <div class="section-title">Questions
                            <a href="#" data-bind="click: lesson().pickTopTargets.bind(lesson())">pick best</a>
                        </div>
                        <div class="section-value">
                            <ul data-bind="foreach: targets" class="selected-questions new">
                                <li>
                                    <label>
                                        <input type="checkbox" data-bind="value: id, checked: $parent.lesson().targetIds">
                                        <span data-bind="text: identifier"></span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="section-container section-container-width-full">
                    <div class="section btns-section">
                        <button class="btn btn-primary" data-bind="click: $parent.saveNew.bind($parent),
                                                                   text: 'Add ' + lesson().lessonType()"></button>
                        <button class="btn btn-secondary" data-bind="click: $parent.addingNewLesson.bind($parent, false)">Cancel</button>
                    </div>
                </div>
            </div>

            <!-- ko foreach: lessons() -->
            <div class="card-wide">
                <div class="section-container section-container-width-2">
                    <div class="section fixed-width">
                        <div class="section-title">Title</div>
                        <div class="section-value" data-bind="text: title"></div>
                    </div>
                    <div class="section fixed-width">
                        <div class="section-title">Status</div>
                        <div class="section-value">
                            <span data-bind="css: 'status-' + statusCode()"></span>
                            <span data-bind="text: status"></span>
                        </div>
                    </div>
                    <div class="section fixed-width" data-bind="visible: statusCode() === 'todo'">
                        <div class="section-title">Start</div>
                        <div class="section-value" data-bind="text: timeToStart"></div>
                    </div>
                    <div class="section fixed-width" data-bind="visible: progress">
                        <div class="section-title">Progress</div>
                        <div class="section-value" data-bind="text: progress"></div>
                    </div>
                </div>
                <div class="section-container section-container-width-1">
                    <div class="section">
                        <div class="section-title">Questions</div>
                        <div class="section-value">
                            <ul data-bind="foreach: questions" class="selected-questions">
                                <li data-bind="text: target().identifier"></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="section-container section-container-width-full">
                    <div class="section btns-section">
                        <button class="btn btn-primary" data-bind="click: $parent.activate.bind($parent, $data),
                                           visible: statusCode() !== 'completed',
                                           text: statusCode() === 'in-progress' ? 'Resume' : 'Start'"></button>
                        <button class="btn btn-primary" data-bind="visible: statusCode() === 'completed',
                                           click: $parent.duplicate.bind($parent, $data)">Duplicate</button>
                        <button class="btn btn-secondary" data-bind="click: $parent.delete.bind($parent, $data)">Delete</button>
                    </div>
                </div>
            </div>
            <!-- /ko -->
        </div>

        <div data-bind="template: {
            name: 'active-lesson',
            data: active(),
            if: active()
        }" class="active-lesson"></div>
    </div>

    {% include 'lesson.html' %}
</script>
