.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 15px solid #7690b7;
  border-color: #7690b7 transparent #7690b7 transparent;
  animation: lds-hourglass 1.2s infinite;
}

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}

.search {
    font-size: 30px;
    vertical-align: top;
}

.main-content {
    display: flex;
}

.targets {
    flex: 1;

    .active {
      font-weight: bold;
    }
}

.new-target,
.active-target{
    flex: 2;
}

.new-target {
  img {
    padding: 10px;
  }

  .selected-img {
    border: 1px solid black;
  }
}

.close {
  position: absolute;
  width: 32px;
  height: 32px;
  opacity: 0.3;

  &:hover {
    opacity: 1;
  }

  &:before, &:after {
    position: absolute;
    left: 20px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #333;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}

.top-menu {
  display: flex;

  .menu-link {
    padding: 20px;
  }
}
