<script type="text/html" id="new-target">
    <form>
        <input class="search" data-bind="textInput: q"/>
        <div data-bind="visible: queryCorrection() && !loading()">
            Did you mean <a href="#" data-bind="click: correctQuery.bind($data), text: queryCorrection"></a>
        </div>
        <textarea rows="4" cols="50" class="search" placeholder="description"
                    data-bind="value: description"/></textarea>
        <div class="lds-hourglass" data-bind="style : { visibility : loading() ? '' : 'hidden'  }"></div>
        <button class="add-target" data-bind="visible: allowCreate, click: save">ADD</button>
    </form>

    <ul data-bind="foreach: links">
        <a href="#" data-bind="click: $parent.selectedLink.bind($parent, $data)">
            <img height="200" data-bind="attr: {src: $data},
                                            css: {'selected-img': $parent.selectedLink() === $data}">
            </img>
        </a>
    </ul>
</script>
