{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="top-menu">
    <a class="menu-link" href="#" data-bind="click: activePage.bind($data, targetsPage)">TARGETS</a>
    <a class="menu-link" href="#" data-bind="click: activePage.bind($data, lessonsPage)">LESSONS</a>
</div>

<div class="main-content">
    <div data-bind="template: {name: activePage().templateName, data: activePage()}"></div>
</div>

{% include 'pages/targets.html' %}
{% include 'pages/lessons.html' %}

<script src="{% static 'bundles/main.js' %}"></script>
{% endblock content %}
