{% extends 'base.html' %}
{% load render_bundle from webpack_loader %}
{% load staticfiles %}

{% block content %}
<div class="top-menu">
    <a class="menu-link" href="#" data-bind="click: activePage.bind($data, targetsPage),
                                             css: {selected: activePage() === targetsPage}">QUESTIONS</a>
    <a class="menu-link" href="#" data-bind="click: activePage.bind($data, lessonsPage),
                                             css: {selected: activePage() === lessonsPage}">LESSONS</a>
</div>

<div class="main-content" data-bind="template: {name: activePage().templateName, data: activePage()}"></div>

{% include 'pages/targets.html' %}
{% include 'pages/lessons.html' %}

{% render_bundle 'main' %}
{% endblock content %}
