<script type="text/html" id="active-lesson">
    <lesson params="lesson: $data"></lesson>
</script>

<script type="text/html" id="lesson">
    <div data-bind="visible: !started()">
        <p data-bind="text: lesson.questions().length + ' questions'"></p>
        <p data-bind="text: 'Expected duration ' + lesson.expectedDuration()"></p>
        <button data-bind="click: start">START</button>
    </div>

    <div data-bind="visible: finished">
        <p>This lesson had finished. If you want to take it again click duplicate button.</p>
        <button data-bind="click: $parents[1].duplicate">DUPLICATE</button>
    </div>

    <div data-bind="template: {
        data: activeQuestion() && activeQuestion().target,
        if: started() && !finished()
    }">
        <h4 data-bind="text: identifier"></h4>
        <div data-bind="text: description"></div>
        <img height="300" data-bind="attr: {src: imgLink}, visible: imgLink"></img>

        <div>
            <p>How easy was that?</p>
            <button data-bind="click: $parent.answerQuestion.bind($parent, 1)">GG</button>
            <button data-bind="click: $parent.answerQuestion.bind($parent, 3)">Need more</button>
            <button data-bind="click: $parent.answerQuestion.bind($parent, 6)">easy</button>
            <button data-bind="click: $parent.answerQuestion.bind($parent, 9)">EZ</button>
        </div>
    </div>
</script>
